[user]
	name = Snaylaker
	email = mehdihimmid73@gmail.com
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	editor = nvim
[fetch]
	prune = true
[merge]
	conflictstyle = diff3
[push]
	autoSetupRemote = true
[color]
	ui = auto
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[status]
	short = true
	branch = true
[maintenance]
	auto = true
	strategy = incremental
	repo = /Users/mhimmid/Work/mytf1-web-front
[rebase]
	updateRefs = true
[diff]
	algorithm = histogram
[help]
	autocorrect = prompt
